[submodule "indexer-service/source"]
	path = indexer-service/source
	url = git@github.com:graphprotocol/indexer-rs.git
[submodule "dipper/source"]
	path = dipper/source
	url = git@github.com:edgeandnode/dipper.git
	branch = main
