[submodule "indexer-service/source"]
	path = indexer-service/source
	url = git@github.com:graphprotocol/indexer-rs.git
[submodule "tap-agent/source"]
	path = tap-agent/source
	url = git@github.com:graphprotocol/indexer-rs.git
